@font-face {
  font-family: 'gowunbatang'; /* 사용할 폰트의 이름을 정의 */
  src: url('../../../fonts/GowunBatang-Regular.ttf'); /* 폰트 파일의 위치 */
}

.album-diary {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
}

.album-diary .album-overlap-group-wrapper {
  background-image: url('../../../../public/img/themeImg/diary-3.png');
  background-position: 50% 50%;
  background-size: cover;
  height: 600px; /* 높이 축소 */
  width: 400px; /* 너비 축소 */
}

.album-diary .album-overlap-group {
  height: 590px; /* 높이 축소 */
  position: relative;
}

.album-diary .album-top {
  background-image: url('../../../../public/img/themeImg/top.png');
  background-position: 50% 50%;
  background-size: cover;
  height: 225px; /* 높이 축소 */
  width: 100% ;
}

.album-diary .album-image {
  overflow: hidden; /* 이미지가 부모 크기를 넘지 않도록 설정 */
  background-image: url('../../../../public/img/themeImg/image-2.png');
  background-position: 50% 50%;
  background-size: cover;
  height: 170px; /* 높이 축소 */
  left: 134px; /* 위치 조정 */
  position: absolute;
  top: -3px;
  transform: rotate(1.68deg);
  width: 153px; /* 너비 축소 */
}

.album-diary .album-div {
  overflow-x : hidden; /* 이미지가 부모 크기를 넘지 않도록 설정 */
  background-image: url('../../../../public/img/themeImg/image-2.png');
  background-position: 50% 50%;
  background-size: cover;
  height: 173px; /* 높이 축소 */
  left: 305px; /* 위치 조정 */
  position: absolute;
  top: -5px;
  transform: rotate(-3.64deg);
  width: 153px; /* 너비 축소 */
}

.album-diary .album-image-2 {
  overflow: hidden; /* 이미지가 부모 크기를 넘지 않도록 설정 */
  background-image: url('../../../../public/img/themeImg/image-2.png');
  background-position: 50% 50%;
  background-size: cover;
  height: 173px; /* 높이 축소 */
  left: -30px; /* 위치 조정 */
  position: absolute;
  top: 0;
  width: 138px; /* 너비 축소 */
}

.album-diary .album-bottom {
  align-items: flex-start;
  flex-direction: column;
  width: 100%; /* 너비 축소 */
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  text-align: center; /* 텍스트가 있을 경우, 텍스트도 중앙 정렬 */
}

.album-diary .album-title-and-text {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.album-diary .album-title {
  align-items: center;
  display: flex;
  height: 138px; /* 높이 축소 */
  justify-content: center;
  width: 100%; /* 너비 축소 */
}

.album-diary .album-text-wrapper {
  color: #302518;
  flex: 1;
  font-family: 'gowunbatang';
  font-size: 32px; /* 글씨 크기 축소 */
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
}

.album-diary .album-the-body {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 3px; /* 간격 축소 */
  height: 165px; /* 높이 축소 */
  justify-content: center;
  position: relative;
  width: 100%;
}

.album-diary .album-p {
  color: #302518;
  font-family: 'gowunbatang';
  font-size: 16px; /* 글씨 크기 축소 */
  font-weight: 400;
  width: 100%; /* 너비 축소 */
}
