
.eventview {
    font-family: "font-notosansKR-medium" !important;
    flex-basis: 100%;
    height: 100%;
    /* overflow-y: auto; */
    padding: 10px 30px;
    padding-left: 0;
    box-sizing: border-box;
    transition: transform 0.5s ease;
    transform: translateY(-100%);

    /* EventView header */
    .header {
        width: 100%;
        height: 7%;
        display: flex;
        justify-content: end;
        padding-top: 20px;

        .col-start {
            width: 110px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;

            .text {
                width: 120px;
                font-size: 80%;
            }

            .text-month {
                margin-right: 5px;
                font-size: 300%;
                font-weight: 600;

            }

        }

        .col-end {
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            .alarmbtn-container {
                cursor: pointer;
                position: relative;
                font-family: "font-notosansKR-light" !important;

                .history-icon {
                    margin-top: 5px;
                    margin-right: 10px;
                    padding: 10px 10px;
                    border: 0px solid black;
                    border-radius: 50%;

                    &:hover {
                        background-color: rgba(153, 153, 153, 0.699);
                    }
                }



                .alarmbtn {
                    font-family: "font-notosansKR-medium" !important;
                    width: 85px;
                    height: 45px;
                    border: 1px solid blue;
                    background-color: white;
                    color: blue;
                    border-radius: 5px;
                    cursor: pointer;

                    &:hover {
                        background-color: blue;
                        color: white;
                    }
                }

            }



            .eventViewXbtn {
                cursor: pointer;
                width: 45px;
                height: 45px;
                background-color: transparent;
                border: 1px solid black;
                border-radius: 5px;

                &:hover {
                    background-color: black;
                    color: white;
                }

            }
        }
    }

    .eventtext {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;

        .event-text {
            color: black;
            margin-right: 5px;
        }
    }

    .TodoListcontainer {
        width: 100%;
        margin-bottom: 5px;
        display: flex;

        .Todotitle-container {
            display: flex;
            justify-content: center;
            width: 100%;
        }

        .Todotitle {
            font-family: "font-notosansKR-medium" !important;
            background-color: white;
            border-radius: 10px;
            height: 60px;
            width: 90%;
            font-size: 15px;
            cursor: pointer;

        }

        .deleteTodo {
            cursor: pointer;
            border: 1px solid red;
            border-radius: 5px;
            background-color: transparent;
            margin-left: 3px;
            color: red;
            display: none;
        }

        .eventlabelpoint {
            border: none;
            border-radius: 10px;
            margin-right: 5px;
            margin-top: 5px;
            height: 50px;
            width: 5px;
        }

        .deleteicon {
            font-size: 1.5vw;
        }

        &:hover {
            .Todotitle-container {
                /* width: 86% !important; */
            }
            .deleteTodo {
                width: 10%;
                height: 60px;
                display: block;
                /* margin-left: 5px; */

                &:hover {
                    background-color: red;

                    .deleteicon {
                        color: white;
                    }
                }


            }
        }
    }

    .alarm-container {
       display: flex;
       flex-direction: column;
       justify-content: center;
       color: black;
       border: 1px, solid, black;
       padding-left: 10px;
       cursor: pointer;
       height: 50px;

       .alarm-info {
        width: 220px;
        display: flex;
        justify-content: space-between;

       }
    }
}


@keyframes slideIn {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  .active {
    animation: slideIn 0.8s forwards;
  }


.addEventBtn {
    font-family: "font-notosansKR-medium" !important;
    font-size: 15px;
    height: 60px;
    width: 90%;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(43, 99, 253);
    color: white;
    border: 0;

    &:hover {
        background-color: rgb(32, 75, 190);
    }
}

