
.eventview {
    flex-basis: 100%;
    height: 100vh;
    overflow-y: auto;
    padding: 10px 50px;
    background-color: #121212;
    box-sizing: border-box;
    transition: transform 0.5s ease;
    transform: translateY(-100%);

    /* EventView header */
    .header {
        width: 100%;
        height: 7%;
        display: flex;
        justify-content: space-between;
        align-items: start;
        padding-top: 20px;

        .col-start {
            width: 110px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            padding-bottom: 2%;

            .text {
                width: 110px;
                font-size: 80%;
            }

            .text-month {
                margin-right: 5px;
                font-size: 300%;
                font-weight: 600;
                color: white;

            }

            .text-year {
                color: white;
            }
        }

        .col-end {
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            .alarmbtn-container {
                position: relative;
                width: 100px;

                .alarmbtn {
                    width: 85px;
                    height: 45px;
                    border: 1px solid white;
                    color: orange;
                    border-radius: 5px;
                    cursor: pointer;

                    &:hover {
                        background-color: rgba(255, 255, 255, 0.733);
                        color: black;
                    }
                }

            }



            .eventViewXbtn {
                cursor: pointer;
                width: 45px;
                height: 45px;
                background-color: transparent;
                border: 1px solid white;
                border-radius: 5px;
                color: white;

                &:hover {
                    background-color: white;
                    color: black;
                }

            }
        }
    }

    .eventtext {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;

        .event-text {
            color: white;
            margin-right: 5px;
        }
    }

    .TodoListcontainer {
        padding-left: 5px;
        margin-bottom: 5px;
        display: flex;
        justify-content: center;

        .Todotitle {
            border-radius: 10px;
            height: 60px;
            width: 43vw;
            font-size: 15px;
            cursor: pointer;
        }

        .deleteTodo {
            border: 1px solid red;
            border-radius: 5px;
            background-color: transparent;
            color: red;
            width: 0;
            height: 0;
            margin-left: 10px;
            display: none;
        }

        .eventlabelpoint {
            border: none;
            border-radius: 10px;
            margin-right: 5px;
            margin-top: 5px;
            height: 50px;
            width: 5px;
        }

        .deleteicon {
            font-size: 1.5vw;
        }

        &:hover {
            .deleteTodo {
                width: 3vw;
                height: 60px;
                margin-left: 10px;
                display: block;

                &:hover {
                    background-color: red;

                    .deleteicon {
                        color: white;
                    }
                }


            }

            .Todotitle {
                width: 38vw;
            }
        }
    }
}


@keyframes slideIn {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  .active {
    animation: slideIn 0.8s forwards;
  }


.addEventBtn {

    &:hover {
        background-color: rgba(255, 255, 255, 0.582);
    }
}

