/* 전체 화면을 차지하는 상단 배너 */
.diaryAPI-full-width-banner {
    width: 100vh;
    height: 50vh;
    overflow: hidden;
    position: relative;
}

.diaryAPI-banner-grid {
    position: relative;
    width: 100%;
    height: 100%;
}

/* 비디오 컨테이너 */
.diaryAPI-video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.diaryAPI-banner-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 텍스트 오버레이 */
.diaryAPI-banner-overlay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 20px;
    z-index: 1;
    position: relative;
    height: 100%;
}

/* 좌측 텍스트 */
.diaryAPI-left-text {
    margin-left: 20px;
    max-width: 600px;
}

.diaryAPI-banner-title {
    font-family: "font-nanumSquare-bold" !important;
    font-size: 20px !important;
    margin-bottom: 10px;
}

.diaryAPI-banner-subtext {
    font-family: "font-notosansKR-medium" !important;
    font-size: 30px !important;
    line-height: 1.5;
    margin-bottom: 20px !important;
}

/* 시 텍스트 애니메이션 */
.diaryAPI-poem-line {
    font-family: "font-notosansKR-light" !important;
    font-size: 1.3rem !important;
    margin-top: 20px;
    color: #fff;
    transition: opacity 1s ease, transform 1s ease;
}

.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.fade-out {
    opacity: 0;
    transform: translateY(20px);
}

/* 우측 고정 스크롤 아이콘 */
/* 아이콘과 툴팁을 감싸는 래퍼 */
.scroll-icon-wrapper {
    position: fixed;
    right: 40px;
    bottom: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.scroll-icon {
    width: 50px;
    /* 아이콘 이미지 크기 */
    height: 50px;
    margin-bottom: 10px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0.8;
}

.scroll-icon:hover {
    transform: scale(1.1);
    opacity: 1;
}

/* 상단 이동 아이콘 */
.scroll-top-icon {
    font-size: 2.5rem;
    /* 아이콘 크기 */
    color: #007bff;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0.7;
    margin-top: 10px;
}

.scroll-top-icon:hover {
    transform: scale(1.1);
    opacity: 1;
}

/* 말풍선 스타일 */
.tooltip-text {
    font-family: "font-notosansKR-medium" !important;
    visibility: hidden;
    opacity: 0;
    background-color: #F7F7F7;
    color: #000000;
    text-align: center;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    position: absolute;
    bottom: 100px;
    right: 50px;
    white-space: nowrap;
    transition: opacity 0.3s ease;
    transform: translateY(0);
    margin-left: 8px;
}

/* 날씨 아이콘을 호버했을 때만 말풍선 표시 */
.scroll-icon:hover + .tooltip-text {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}


@font-face {
    font-family: 'font-nanumSquare-bold';
    /* 사용할 폰트의 이름을 정의 */
    src: url('../../fonts/NanumFontSetup_TTF_SQUARE/NanumSquareB.ttf');
    /* 폰트 파일의 위치 */
}

@font-face {
    font-family: 'font-nanumSquare-light';
    /* 사용할 폰트의 이름을 정의 */
    src: url('../../fonts/NanumFontSetup_TTF_SQUARE/NanumSquareL.ttf');
    /* 폰트 파일의 위치 */
}

@font-face {
    font-family: 'font-notosansKR-medium';
    /* 사용할 폰트의 이름을 정의 */
    src: url('../../fonts/NotoSansKR/NotoSansKR-Medium.ttf');
    /* 폰트 파일의 위치 */
}

@font-face {
    font-family: 'font-notosansKR-light';
    /* 사용할 폰트의 이름을 정의 */
    src: url('../../fonts/NotoSansKR/NotoSansKR-Light.ttf');
    /* 폰트 파일의 위치 */
}