.element-light {
  background-color: #ffffff;
  height: 4673px;
  width: 1920px;
}

.element-light .overlap {
  height: 4483px;
  position: relative;
}

.element-light .body {
  background-color: #ffffff;
  height: 4483px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.element-light .container {
  height: 4483px;
}

.element-light .div {
  height: 5293px;
  position: relative;
  width: 1920px;
}

.element-light .container-wrapper {
  height: 826px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 93px;
  width: 1920px;
}

.element-light .overlap-group-wrapper {
  height: 828px;
}

.element-light .overlap-group {
  background-image: url(../../../static/img/image-21.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 826px;
  position: relative;
  width: 1920px;
}

.element-light .text-wrapper {
  color: #ffffff;
  font-family: "Flight Sans OTF-Regular", Helvetica;
  font-size: 28px;
  font-weight: 400;
  height: 630px;
  left: 1403px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 120px;
  width: 430px;
}

.element-light .text-wrapper-2 {
  color: #ffffff;
  font-family: "Hanken Grotesk", Helvetica;
  font-size: 20px;
  font-weight: 700;
  height: 26px;
  left: 81px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 294px;
  width: 121px;
}

.element-light .p {
  color: #ffffff;
  font-family: "Hanken Grotesk", Helvetica;
  font-size: 28px;
  font-weight: 400;
  height: 72px;
  left: 82px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 329px;
  width: 617px;
}

.element-light .section {
  height: 935px;
  left: 190px;
  position: absolute;
  top: 1050px;
  width: 1540px;
}

.element-light .overlap-2 {
  height: 480px;
  left: 50px;
  position: absolute;
  top: 0;
  width: 1440px;
}

.element-light .link {
  height: 480px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.element-light .div-2 {
  background-image: url(../../../static/img/056249f378ad5ef92343d453276bbc8b-jpg.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 8px;
  height: 480px;
}

.element-light .list-item {
  height: 69px;
  left: 32px;
  position: absolute;
  top: 206px;
  width: 617px;
}

.element-light .text-wrapper-3 {
  color: #ffffff;
  font-family: "Hanken Grotesk", Helvetica;
  font-size: 20px;
  font-weight: 700;
  height: 26px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
  width: 121px;
}

.element-light .text-wrapper-4 {
  color: #ffffff;
  font-family: "Hanken Grotesk", Helvetica;
  font-size: 28px;
  font-weight: 400;
  height: 36px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 30px;
  width: 673px;
}

.element-light .container-2 {
  height: 433px;
  left: 50px;
  position: absolute;
  top: 502px;
  width: 1440px;
}

.element-light .list {
  height: 433px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.element-light .group {
  height: 433px;
  left: 0;
  position: absolute;
  top: 0;
  width: 280px;
}

.element-light .link-wrapper {
  border-radius: 8px;
  height: 373px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 280px;
}

.element-light .div-wrapper {
  height: 1px;
  position: relative;
  top: 187px;
}

.element-light .div-3 {
  background-color: #c2c2c2;
  height: 373px;
  position: relative;
  top: -187px;
  width: 280px;
}

.element-light .text-wrapper-5 {
  color: #000000;
  font-family: "Pretendard-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 36px;
  left: 74px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 163px;
  width: 132px;
}

.element-light .link-2 {
  height: 20px;
  left: 0;
  position: absolute;
  top: 389px;
  width: 280px;
}

.element-light .text-wrapper-6 {
  color: #000000;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-size: 14px;
  font-weight: 600;
  height: 20px;
  left: 0;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 102px;
}

.element-light .list-item-2 {
  height: 20px;
  left: 0;
  position: absolute;
  top: 413px;
  width: 280px;
}

.element-light .text-wrapper-7 {
  color: #000000;
  font-family: "Pretendard-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 16px;
  left: 0;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 1px;
  white-space: nowrap;
  width: 90px;
}

.element-light .group-2 {
  height: 433px;
  left: 290px;
  position: absolute;
  top: 0;
  width: 280px;
}

.element-light .overlap-group-2 {
  border-radius: 8px;
  height: 373px;
  left: 0;
  position: absolute;
  top: 0;
  width: 280px;
}

.element-light .group-3 {
  height: 433px;
  left: 580px;
  position: absolute;
  top: 0;
  width: 280px;
}

.element-light .group-4 {
  height: 433px;
  left: 870px;
  position: absolute;
  top: 0;
  width: 280px;
}

.element-light .text-wrapper-8 {
  color: #000000;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-size: 14px;
  font-weight: 600;
  height: 20px;
  left: 0;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 80px;
}

.element-light .group-5 {
  height: 433px;
  left: 1160px;
  position: absolute;
  top: 0;
  width: 280px;
}

.element-light .button-previous {
  height: 43px;
  left: -43px;
  position: absolute;
  top: 160px;
  width: 43px;
}

.element-light .button-next-slide {
  height: 43px;
  left: 1440px;
  position: absolute;
  top: 160px;
  width: 43px;
}

.element-light .section-2 {
  height: 935px;
  left: 190px;
  position: absolute;
  top: 2105px;
  width: 1540px;
}

.element-light .link-3 {
  height: 18px;
  left: 50px;
  position: absolute;
  top: 0;
  width: 1440px;
}

.element-light .div-4 {
  background-image: url(../../../static/img/bd6aa9f6dcc0a18095c6ed9e57d8587e-jpg.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 8px;
  height: 480px;
}

.element-light .list-item-3 {
  height: 100px;
  left: 82px;
  position: absolute;
  top: 206px;
  width: 514px;
}

.element-light .text-wrapper-9 {
  color: #ffffff;
  font-family: "Hanken Grotesk", Helvetica;
  font-size: 20px;
  font-weight: 700;
  height: 26px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
  width: 99px;
}

.element-light .text-wrapper-10 {
  color: #ffffff;
  font-family: "Hanken Grotesk", Helvetica;
  font-size: 28px;
  font-weight: 400;
  height: 66px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 33px;
  width: 516px;
}

.element-light .text-wrapper-11 {
  color: #000000;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-size: 14px;
  font-weight: 600;
  height: 20px;
  left: 0;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 116px;
}

.element-light .text-wrapper-12 {
  color: #000000;
  font-family: "Pretendard-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 16px;
  left: 0;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 90px;
}

.element-light .text-wrapper-13 {
  color: #000000;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-size: 14px;
  font-weight: 600;
  height: 20px;
  left: 0;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 134px;
}

.element-light .text-wrapper-14 {
  color: #000000;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-size: 14px;
  font-weight: 600;
  height: 20px;
  left: 0;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 106px;
}

.element-light .section-3 {
  height: 608px;
  left: 190px;
  position: absolute;
  top: 3161px;
  width: 1540px;
}

.element-light .paragraph {
  height: 56px;
  left: 50px;
  position: absolute;
  top: 0;
  width: 1440px;
}

.element-light .seasonal-food {
  color: #000000;
  font-family: "Hanken Grotesk", Helvetica;
  font-size: 24px;
  font-weight: 700;
  height: 24px;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 240px;
}

.element-light .text-wrapper-15 {
  color: #949494;
  font-family: "Hanken Grotesk", Helvetica;
  font-size: 22px;
  font-weight: 500;
  height: 22px;
  left: 0;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 33px;
  white-space: nowrap;
  width: 259px;
}

.element-light .container-3 {
  height: 530px;
  left: 50px;
  position: absolute;
  top: 78px;
  width: 1440px;
}

.element-light .list-2 {
  height: 530px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.element-light .group-6 {
  height: 530px;
  left: 0;
  position: absolute;
  top: 0;
  width: 352px;
}

.element-light .container-4 {
  border-radius: 8px;
  height: 470px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 352px;
}

.element-light .link-4 {
  height: 1px;
  position: relative;
  top: 235px;
}

.element-light .div-5 {
  background-color: #d6d6d6;
  height: 470px;
  position: relative;
  top: -235px;
  width: 352px;
}

.element-light .text-wrapper-16 {
  color: #000000;
  font-family: "Pretendard-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 36px;
  left: 110px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 216px;
  width: 132px;
}

.element-light .link-5 {
  height: 20px;
  left: 0;
  position: absolute;
  top: 486px;
  width: 352px;
}

.element-light .list-item-4 {
  height: 20px;
  left: 0;
  position: absolute;
  top: 510px;
  width: 352px;
}

.element-light .group-7 {
  height: 530px;
  left: 362px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 352px;
}

.element-light .text-wrapper-17 {
  color: #000000;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-size: 14px;
  font-weight: 600;
  height: 20px;
  left: 0;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 170px;
}

.element-light .overlap-group-3 {
  border-radius: 8px;
  height: 470px;
  left: 0;
  position: absolute;
  top: 0;
  width: 352px;
}

.element-light .text-wrapper-18 {
  color: #000000;
  font-family: "Pretendard-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 36px;
  left: 110px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 217px;
  width: 132px;
}

.element-light .group-8 {
  height: 530px;
  left: 725px;
  position: absolute;
  top: 0;
  width: 352px;
}

.element-light .text-wrapper-19 {
  color: #000000;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-size: 14px;
  font-weight: 600;
  height: 20px;
  left: 0;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 139px;
}

.element-light .group-9 {
  height: 530px;
  left: 1088px;
  position: absolute;
  top: 0;
  width: 352px;
}

.element-light .container-5 {
  border-radius: 8px;
  height: 470px;
  overflow: hidden;
}

.element-light .link-6 {
  height: 1px;
  position: relative;
  top: 235px;
  width: 352px;
}

.element-light .div-6 {
  background-color: #d6d6d6;
  height: 470px;
  position: relative;
  top: -235px;
}

.element-light .text-wrapper-20 {
  color: #000000;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-size: 14px;
  font-weight: 600;
  height: 20px;
  left: 0;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 156px;
}

.element-light .img {
  height: 43px;
  left: -43px;
  position: absolute;
  top: 201px;
  width: 43px;
}

.element-light .button-next-slide-2 {
  height: 43px;
  left: 1440px;
  position: absolute;
  top: 201px;
  width: 43px;
}

.element-light .section-4 {
  height: 546px;
  left: 240px;
  position: absolute;
  top: 3889px;
  width: 1440px;
}

.element-light .link-7 {
  height: 56px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.element-light .today-s-top-PICK {
  color: #000000;
  font-family: "Hanken Grotesk", Helvetica;
  font-size: 24px;
  font-weight: 700;
  height: 24px;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 219px;
}

.element-light .text-wrapper-21 {
  color: #949494;
  font-family: "Hanken Grotesk", Helvetica;
  font-size: 22px;
  font-weight: 500;
  height: 22px;
  left: 0;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 33px;
  white-space: nowrap;
  width: 166px;
}

.element-light .container-6 {
  height: 470px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 76px;
  width: 1440px;
}

.element-light .overlap-group-4 {
  height: 470px;
  left: -362px;
  position: relative;
}

.element-light .list-3 {
  height: 470px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.element-light .group-10 {
  height: 470px;
  left: 725px;
  position: absolute;
  top: 0;
  width: 352px;
}

.element-light .group-11 {
  height: 470px;
  left: 1088px;
  position: absolute;
  top: 0;
  width: 352px;
}

.element-light .group-12 {
  height: 470px;
  left: 1450px;
  position: absolute;
  top: 0;
  width: 352px;
}

.element-light .container-7 {
  border-radius: 8px;
  height: 470px;
  left: 362px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 352px;
}

.element-light .border {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #dbdbdb;
  border-top-style: solid;
  border-top-width: 1px;
  height: 72px;
  left: 0;
  position: absolute;
  top: 4603px;
  width: 1920px;
}

.element-light .container-8 {
  height: 28px;
  left: 320px;
  position: relative;
  top: 22px;
  width: 1280px;
}

.element-light .list-4 {
  height: 23px;
  left: 40px;
  position: absolute;
  top: 2px;
  width: 872px;
}

.element-light .item-link {
  height: 23px;
  left: 0;
  position: absolute;
  top: 0;
  width: 58px;
}

.element-light .text-wrapper-22 {
  color: #cabdbd;
  font-family: "Noto Sans KR", Helvetica;
  font-size: 16px;
  font-weight: 500;
  height: 24px;
  left: 0;
  letter-spacing: -0.10px;
  line-height: 23px;
  position: absolute;
  top: -2px;
  white-space: nowrap;
  width: 59px;
}

.element-light .item-link-2 {
  height: 23px;
  left: 90px;
  position: absolute;
  top: 0;
  width: 58px;
}

.element-light .item-link-3 {
  height: 23px;
  left: 181px;
  position: absolute;
  top: 0;
  width: 73px;
}

.element-light .text-wrapper-23 {
  color: #cabdbd;
  font-family: "Noto Sans KR", Helvetica;
  font-size: 16px;
  font-weight: 500;
  height: 24px;
  left: 0;
  letter-spacing: -0.10px;
  line-height: 23px;
  position: absolute;
  top: -2px;
  white-space: nowrap;
  width: 73px;
}

.element-light .item-link-4 {
  height: 23px;
  left: 286px;
  position: absolute;
  top: 0;
  width: 117px;
}

.element-light .text-wrapper-24 {
  color: #111111;
  font-family: "Noto Sans KR", Helvetica;
  font-size: 16px;
  font-weight: 700;
  height: 24px;
  left: 0;
  letter-spacing: -0.10px;
  line-height: 23px;
  position: absolute;
  top: -2px;
  white-space: nowrap;
  width: 117px;
}

.element-light .item-link-5 {
  height: 23px;
  left: 435px;
  position: absolute;
  top: 0;
  width: 58px;
}

.element-light .item-link-6 {
  height: 23px;
  left: 526px;
  position: absolute;
  top: 0;
  width: 132px;
}

.element-light .text-wrapper-25 {
  color: #cabdbd;
  font-family: "Noto Sans KR", Helvetica;
  font-size: 16px;
  font-weight: 500;
  height: 24px;
  left: 0;
  letter-spacing: -0.10px;
  line-height: 23px;
  position: absolute;
  top: -2px;
  white-space: nowrap;
  width: 132px;
}

.element-light .item-link-7 {
  height: 23px;
  left: 689px;
  position: absolute;
  top: 0;
  width: 92px;
}

.element-light .text-wrapper-26 {
  color: #cabdbd;
  font-family: "Noto Sans KR", Helvetica;
  font-size: 16px;
  font-weight: 500;
  height: 24px;
  left: 0;
  letter-spacing: -0.10px;
  line-height: 23px;
  position: absolute;
  top: -2px;
  white-space: nowrap;
  width: 97px;
}

.element-light .item-link-8 {
  height: 23px;
  left: 814px;
  position: absolute;
  top: 0;
  width: 58px;
}

.element-light .list-5 {
  height: 28px;
  left: 1020px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 220px;
}

.element-light .overlap-3 {
  height: 140px;
  left: 1754px;
  position: absolute;
  top: 4285px;
  width: 80px;
}

.element-light .button-ch-talk-pc {
  background-image: url(../../../static/img/button-ch-talk-pc-shadow-png.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 80px;
  left: 0;
  position: absolute;
  top: 0;
  width: 80px;
}

.element-light .background-shadow {
  height: 64px;
  left: 8px;
  position: absolute;
  top: 76px;
  width: 64px;
}

.element-light .navbar {
  background-color: #ffffff;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #efefef;
  height: 92px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.element-light .container-9 {
  height: 18px;
  left: 449px;
  position: absolute;
  top: 39px;
  width: 90px;
}

.element-light .text-wrapper-27 {
  color: #121212;
  font-family: "Abel", Helvetica;
  font-size: 18px;
  font-weight: 400;
  height: 21px;
  left: 0;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: -2px;
  white-space: nowrap;
  width: 90px;
}

.element-light .container-10 {
  height: 18px;
  left: 590px;
  position: absolute;
  top: 39px;
  width: 130px;
}

.element-light .text-wrapper-28 {
  color: #121212;
  font-family: "Abel", Helvetica;
  font-size: 18px;
  font-weight: 400;
  height: 21px;
  left: 0;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: -3px;
  white-space: nowrap;
  width: 130px;
}

.element-light .container-11 {
  height: 18px;
  left: 771px;
  position: absolute;
  top: 39px;
  width: 180px;
}

.element-light .text-wrapper-29 {
  color: #121212;
  font-family: "Abel", Helvetica;
  font-size: 18px;
  font-weight: 400;
  height: 21px;
  left: 0;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: -3px;
  white-space: nowrap;
  width: 180px;
}

.element-light .form {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #e2e2e2;
  border-radius: 6px;
  height: 48px;
  left: 1034px;
  overflow: hidden;
  position: absolute;
  top: 24px;
  width: 360px;
}

.element-light .overlap-group-5 {
  height: 46px;
  left: 16px;
  position: relative;
  top: 1px;
  width: 328px;
}

.element-light .input {
  background-color: #ffffff;
  height: 46px;
  left: 0;
  position: absolute;
  top: 0;
  width: 328px;
}

.element-light .container-12 {
  height: 46px;
  position: relative;
  width: 296px;
}

.element-light .text-wrapper-30 {
  color: #999999;
  font-family: "Abel", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 19px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 13px;
  white-space: nowrap;
  width: 165px;
}

.element-light .SVG {
  height: 28px;
  left: 299px;
  position: absolute;
  top: 9px;
  width: 28px;
}

.element-light .text-wrapper-31 {
  color: #121212;
  font-family: "Abel", Helvetica;
  font-size: 10px;
  font-weight: 400;
  height: 12px;
  left: 1478px;
  letter-spacing: 0;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 59px;
  white-space: nowrap;
  width: 36px;
}

.element-light .text-wrapper-32 {
  color: #121212;
  font-family: "Abel", Helvetica;
  font-size: 10px;
  font-weight: 400;
  height: 12px;
  left: 1546px;
  letter-spacing: 0;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 59px;
  white-space: nowrap;
  width: 54px;
}

.element-light .text-wrapper-33 {
  color: #121212;
  font-family: "Abel", Helvetica;
  font-size: 10px;
  font-weight: 400;
  height: 12px;
  left: 1633px;
  letter-spacing: 0;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 59px;
  white-space: nowrap;
  width: 45px;
}

.element-light .text-wrapper-34 {
  color: #121212;
  font-family: "Abel", Helvetica;
  font-size: 10px;
  font-weight: 400;
  height: 12px;
  left: 1719px;
  letter-spacing: 0;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 59px;
  white-space: nowrap;
  width: 23px;
}

.element-light .clip-path-group-wrapper {
  height: 92px;
  left: 118px;
  position: absolute;
  top: 0;
  width: 225px;
}

.element-light .clip-path-group {
  height: 92px;
}

.element-light .group-13 {
  height: 92px;
  width: 229px;
}

.element-light .overlap-group-6 {
  height: 92px;
  position: relative;
  width: 225px;
}

.element-light .element {
  background-image: url(../../../static/img/20240930150805570-png.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 92px;
  left: 0;
  position: absolute;
  top: 0;
  width: 107px;
}

.element-light .text-wrapper-35 {
  color: #682936;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 800;
  height: 20px;
  left: 82px;
  letter-spacing: 0;
  line-height: 19.2px;
  position: absolute;
  top: 37px;
  white-space: nowrap;
  width: 143px;
}

.element-light .FOOD-DIARY {
  color: #682936;
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 600;
  height: 12px;
  left: 82px;
  letter-spacing: 0;
  line-height: 19.2px;
  position: absolute;
  top: 62px;
  white-space: nowrap;
  width: 122px;
}

.element-light .linear-arrows-action {
  height: 28px !important;
  left: 1478px !important;
  position: absolute !important;
  top: 24px !important;
  width: 28px !important;
}

.element-light .linear-map-location {
  height: 28px !important;
  left: 1559px !important;
  position: absolute !important;
  top: 24px !important;
  width: 28px !important;
}

.element-light .linear-users-user {
  height: 30px !important;
  left: 1715px !important;
  position: absolute !important;
  top: 24px !important;
  width: 30px !important;
}

.element-light .linear-notifications {
  height: 28px !important;
  left: 1641px !important;
  position: absolute !important;
  top: 24px !important;
  width: 28px !important;
}
