.diaryAPI-text-banner {
    text-align: left;
    margin-bottom: 30px !important;
    padding-left: 90px !important;
}

.diaryAPI-banner-title {
    font-family: "font-nanumSquare-bold" !important;
    font-size: 2rem;
    font-weight: bold;
}

.diaryAPI-banner-season-toppick-subtitle {
    font-family: "font-notosansKR-medium" !important;
    font-size: 1.2rem;
    color: gray;
}

@font-face {
    font-family: 'font-nanumSquare-bold';
    /* 사용할 폰트의 이름을 정의 */
    src: url('../../../fonts/NanumFontSetup_TTF_SQUARE/NanumSquareB.ttf');
    /* 폰트 파일의 위치 */
}

@font-face {
    font-family: 'font-nanumSquare-light';
    /* 사용할 폰트의 이름을 정의 */
    src: url('../../../fonts/NanumFontSetup_TTF_SQUARE/NanumSquareL.ttf');
    /* 폰트 파일의 위치 */
}

@font-face {
    font-family: 'font-notosansKR-medium';
    /* 사용할 폰트의 이름을 정의 */
    src: url('../../../fonts/NotoSansKR/NotoSansKR-Medium.ttf');
    /* 폰트 파일의 위치 */
}

@font-face {
    font-family: 'font-notosansKR-light';
    /* 사용할 폰트의 이름을 정의 */
    src: url('../../../fonts/NotoSansKR/NotoSansKR-Light.ttf');
    /* 폰트 파일의 위치 */
}