.overlay-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  height: 600px;
  width: 950px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);

  .close-modal {
    position: absolute;
    right: 10px;
    z-index: 10;
  }

  .post-image-container {
    position: relative;
    display: inline-block;
  }

  .post-image {
    background-color: #f5f5f5;
    border-radius: 4px;
    height: 500px;
    left: 45px;
    overflow: hidden;
    position: absolute;
    top: 50px;
    width: 333px;
    cursor: default;
    transition: transform 0.3s ease;
  }

  /* 이미지가 2개 이상일 때만 커서 포인터, 확대 애니메이션, 텍스트 표시 */
  .post-image.multi-image {
    cursor: pointer;
  }

  .post-image.multi-image:hover {
    opacity: 0.9;
    transform: scale(1.01);
  }

  /* 문구 표시를 위한 스타일 */
  .hover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    display: none;
    text-align: center;
    font-family: "font-notosansKR-medium" !important;
  }

  /* 이미지에 마우스를 올렸을 때 문구 표시 (2개 이상일 때만 활성화) */
  .post-image.multi-image:hover .hover-text {
    display: block;
  }
}

.post-info-container {
  overflow-y: auto;
  height: 600px;
  padding-right: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.post-info {
  position: absolute;
  width: 528px;
  top: 60px;
  right: 15px;
  max-height: 450px !important;
  overflow-y: auto;
  height: 600px;
  box-sizing: border-box;

  .text-wrapper {
    color: #000000;
    font-family: "Pretendard-Bold", Helvetica;
    height: 50px;
    left: 150px;
    letter-spacing: -0.60px;
    line-height: 18px;
    position: absolute;
    text-align: center;
    top: 274px;
    width: 100px;
  }

  .text-post-title-pin {
    gap: 30px;
    display: flex;


    .text-post-title {
      color: #222222;
      font-family: "font-notosansKR-medium";
      font-size: 24px;
      font-weight: 500;
      height: 20px;
      letter-spacing: -0.60px;
      line-height: normal;
      white-space: nowrap;
      margin-bottom: 40px;
    }

    .text-pin-color {
      color: #646464;
      font-family: "font-notosansKR-medium";
      font-size: 14px;
      font-weight: 400;
      height: 15px;
      letter-spacing: -0.60px;
      line-height: 16px;
      white-space: nowrap;
      margin-top: 10px;
    }
  }

  .text-restaurant-name {
    font-family: "font-notosansKR-medium";
    font-size: 22px;
    font-weight: 400;
    letter-spacing: -0.60px;
    line-height: 16px;
    white-space: nowrap;
    margin-bottom: 30px;
  }

  .text-user-name {
    font-family: "font-notosansKR-medium";
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.60px;
    line-height: 16px;
    white-space: nowrap;
    margin-bottom: 20px;
  }

  .text-post-date {
    color: #646464;
    font-family: "font-notosansKR-light";
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.60px;
    line-height: 1px;
    white-space: nowrap;
    margin-bottom: 30px;
  }

  .text-receipt {
    color: #646464;
    font-family: "font-notosansKR-light";
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.60px;
    line-height: 16px;
    white-space: nowrap;
    width: 288px;
    margin-bottom: 30px;
  }


  .hash-tag-border {
    border-color: #eaeaea;
    border-top-style: solid;
    border-top-width: 1px;
    height: 40px;
    left: 0;
    position: absolute;
    top: 130px;
    width: 490px;
    align-items: center;
    margin-top: 75px;

    .hash-tag-text {
      height: 30px;
      position: relative;
      top: 12px;
      display: flex;
      left: 5px;
      gap: 10px;
    }

    .text-hash-tag {
      color: #5e5e5e;
      font-family: "font-notosansKR-light" !important;
      font-size: 15px;
      font-weight: 400;
      height: 18px;
      letter-spacing: -0.60px;
      line-height: 18px;
      white-space: nowrap;
      width: auto;
      display: flex;
    }

    .no-tag {
      position: relative;
      top: -3px;
      font-family: "font-notosansKR-light" !important;
      color: #5e5e5e;
    }
  }

  .badge-border {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #eaeaea;
    border-top-style: solid;
    border-top-width: 1px;
    height: 40px;
    position: absolute;
    top: 170px;
    width: 490px;
    align-items: center;
    margin-top: 80px;

    .badge-text {
      font-family: "font-notosansKR-light" !important;
      color: #5e5e5e;
      height: 25px;
      position: relative;
      top: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      left: 5px;
      margin-right: 60px;
      font-size: 15px;
    }

    .badge-text-wrapper {
      height: 30px;
      font-size: 15px;
      font-weight: 400;

    }
  }

  .post-content-modal-border {
    position: absolute;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #eaeaea;
    top: 230px;
    width: 490px;
    max-height: 300px;
    min-height: auto;
    margin-top: 70px;

    .modal-content-text {
      font-family: "font-notosansKR-light" !important;
      font-size: 14px;
      margin-bottom: 10px;
      line-height: 1.7;
    }
  }

  
  .reply-container {
    margin-left: 60px;
    overflow: hidden;
    width: 370px;
    position: relative;


    .reply-form {
      display: flex;
      align-items: center;
    }

    .reply-input-box {
      padding: 4px;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-right: 5px;
      width: 350px; 
    }

    .reply-submit-button {
      width: 50px;
      padding: 5px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    .reply-submit-button:hover {
      background-color: #0056b3;
    }

    .reply-item {
      overflow: hidden;
      width: 350px;
      min-height: 55px;
      position: relative;
      margin-top: 5px;

      .user-profile-reply-image {
        position: absolute;
        width: 36px;
        height: 36px;
        top: 5px;
        border-radius: 50%;
        object-fit: cover;
      }

      .reply-user-info {
        margin-top: 8px;
        margin-left: 50px;
        display: flex;
        gap: 15px;


        .reply-user-name {
          color: #000000;
          font-family: "Inter", Helvetica;
          font-size: 14px;
          font-weight: 400;
          letter-spacing: 0;
          line-height: 14px;

        }

        .reply-time {
          color: #535353;
          font-family: "Inter", Helvetica;
          font-size: 10px;
          font-weight: 500;
          letter-spacing: 0;
          line-height: 14px;
          text-align: right;
          white-space: nowrap;
        }

      }

      .reply-text {
        color: #000000;
        font-family: "Abel", Helvetica;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 14px;
        width: 260px;
        margin-top: 3px;
        margin-left: 50px;
      }

    }
  }

  .badge-image-container {
    position: relative;
    display: inline-block;
    left: 13px;
    width: 50px;
    height: 45px;
    max-width: 50px;
    overflow: hidden;
  }

  .badge-image {
    width: 100%;
    height: 118%;
    object-fit: cover;
    padding-top: 3px;
  }

  .no-badge {
    position: relative;
    top: -3px;
  }
}

.comment-border {
  font-family: "font-notosansKR-light" !important;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  max-height: auto;
  margin-top: 250px;
  overflow-x: hidden;

  .comment-header {
    border-radius: 10px;
    overflow: hidden;
    width: 480px;
    margin-bottom: 5px;
    position: relative;

    .comment-delete-button {
      position: absolute;
      right: 20px;
      top: 15px;
      font-size: 20px;
      cursor: pointer;
      transition: transform 0.3s ease, font-size 0.3s ease;
      z-index: 10;
    }

    .comment-delete-button:hover {
      transform: translateY(-10%) scale(1.2);
      font-size: 18px;
      color: #d9534f;
    }

    .user-profile-image {
      height: 36px;
      left: 9px;
      position: absolute;
      top: 10px;
      width: 36px;
      border-radius: 50%;
    }

    .comment-user-info {
      margin-top: 5px;
      margin-left: 60px;

      .comment-user-info-name {
        display: flex;
        gap: 20px;
        margin-top: 10px;

        .user-name-text {
          color: #000000;
          font-family: "font-notosansKR-light" !important;
          font-size: 14px;
          font-weight: 400;
          letter-spacing: 0;
          line-height: 14px;
          margin-bottom: 5px;
        }

        .write-date-time-text {
          color: #535353;
          font-family: "font-notosansKR-light" !important;
          font-size: 10px;
          font-weight: 500;
          letter-spacing: 0;
          line-height: 14px;
          text-align: right;
          white-space: nowrap;
        }

      }

      .comment-text {
        color: #000000;
        font-family: "font-notosansKR-light";
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 14px;
        width: 370px;
        margin-top: 3px;
        margin-bottom: 5px;
      }

      .reply-push {
        color: #000000;
        font-family: "font-notosansKR-light";
        font-size: 10px;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 14px;
        width: 379px;
        margin-top: 5px;
        cursor: pointer;
      }

    }
  }

}

.comment-write {
  position: fixed;
  bottom: 30px;
  right: 50px;
  width: 488px;
  display: flex;
  gap: 10px;
  align-items: center;

  .comment-input-box {
    color: #000000;
    font-family: "font-notosansKR-light" !important;
    font-size: 15px;
    font-weight: 400;
    height: 38px;
    letter-spacing: 0;
    line-height: 14px;
    width: 420px;
    flex-grow: 1;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .user-profile-image-2 {
    height: 36px;
    left: 11px;
    position: absolute;
    top: 3px;
    width: 36px;
  }

  .comment-btn {
    font-family: "font-notosansKR-light" !important;
    border-radius: 10%;
    width: 60px;
    height: 38px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 10px;
  }

  .comment-btn:hover {
    font-family: "font-notosansKR-light" !important;
    background-color: #0056b3;
  }
}

.comment-header:hover {
  box-shadow: 0 0 10px 2px rgba(197, 231, 255, 0.7);
  /* 파란색 빛나는 효과 */
}

.reply-delete-button {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.3s ease, font-size 0.3s ease;
  z-index: 10;
}

.reply-delete-button:hover {
  transform: scale(1.2);
  /* 호버 시 크기 확대 */
  font-size: 20px;
  /* 호버 시 글씨 크기 증가 */
  color: #d9534f;
  /* 호버 시 글씨 색 변화 (예: 빨간색) */

}