/* 전체 컨테이너 */
.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  /* 로딩 스피너 */
  .loading-spinner {
    width: 60px;
    height: 60px;
    border: 6px solid #fff;
    border-top: 6px solid #3c1e1e; /* 카카오 브라운 색상 */
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  /* 텍스트 스타일 */
  .loading-text {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #3c1e1e; /* 카카오 브라운 색상 */
    font-weight: bold;
    font-family: "Arial", sans-serif;
  }
  
  /* 스피너 애니메이션 */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }