/* Font 설정 */
@font-face {
  font-family: 'font-nanumSquare-bold';
  src: url('../../fonts/NanumFontSetup_TTF_SQUARE/NanumSquareB.ttf');
}

@font-face {
  font-family: 'font-nanumSquare-light';
  src: url('../../fonts/NanumFontSetup_TTF_SQUARE/NanumSquareL.ttf');
}

@font-face {
  font-family: 'font-notosansKR-medium';
  src: url('../../fonts/NotoSansKR/NotoSansKR-Medium.ttf');
}

@font-face {
  font-family: 'font-notosansKR-light';
  src: url('../../fonts/NotoSansKR/NotoSansKR-Light.ttf');
}

/* 공통 스타일 */
.grid-container {
  width: 100%;
}

.subscribe-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 600px;
  gap: 20px;
}

.subscribe-feature-frame {
  height: 520px;
  width: 100%;
  font-family: 'font-notosansKR-light';
  border-radius: 2%;
  overflow-y: auto;
  padding: 20px 20px;
}

.subscribe-feature-frame::-webkit-scrollbar {
  display: none;
}

.subscribe-feature-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.subscribe-feature-item {
  display: flex;
  align-items: center;
  width: 100%;
}

.subscribe-feature-icon {
  width: 60px;
  height: 60px;
  margin-right: 15px;
}

.subscribe-feature-text {
  font-family: 'font-light';
  font-size: 17px;
  color: #333;
}

.subscribe-feature-text strong {
  font-size: 18px;
  color: #000;
}

.request-title {
  color: #333;
  font-family: 'font-medium';
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  margin-top: 40px;
}

.sign-up-frame {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

/* 버튼 스타일 */
.final-button {
  all: unset;
  background-color: #fff4e0;
  border-radius: 4px;
  width: 650px;
  height: 50px;
  color: #00a05e;
  font-family: 'font-notosansKR-medium';
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.final-button.completed {
  background-color: #f7d9a3;
  color: #a05a00;
  cursor: not-allowed;
  margin-bottom: 10px;
}

.final-button[disabled] {
  background-color: #dcdcdc;
  color: #a0a0a0;
  cursor: not-allowed;
}

.final-button.unsubscribe {
  background-color: #ffcccc;
  color: #cc0000;
  margin-bottom: 30px;
}

.final-button.unsubscribe:hover {
  background-color: #ff9999;
  color: #ff0000;
}

/* 미디어 쿼리 */
@media (max-width: 1080px) {
  .adadda-logo {
    display: none;
  }
}