@font-face {
  font-family: 'font-medium'; /* 사용할 폰트의 이름을 정의 */
  src: url('../../public/fonts/GmarketSansTTFMedium.ttf'); /* 폰트 파일의 위치 */
}

@font-face {
  font-family: 'font-light'; /* 사용할 폰트의 이름을 정의 */
  src: url('../../public/fonts/GmarketSansTTFLight.ttf'); /* 폰트 파일의 위치 */
}

html, body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-image-list {
  background-color: #ffffff;
  height: 3200px;
  position: relative;
  width: 1920px;
}

.user-image-list .overlap {
  height: 467px;
  left: 0;
  position: absolute;
  top: 92px;
  width: 1920px;
}

.user-image-list .user-back-ground {
  background-color: #ff2b279c;
  height: 260px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.user-image-list .category {
  height: 80px;
  left: 0;
  position: absolute;
  top: 387px;
  width: 1920px;
}

.user-image-list .category-group {
  height: 71px;
  left: 60px;
  position: relative;
  top: 9px;
  width: 1800px;
}

.user-image-list .category-line {
  height: 5px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1800px;
}

.user-image-list .category {
  text-align: left; 
  margin: 20px 0; 
}

.user-image-list .category-item {
  display: inline-block; 
  padding: 15px 20px; 
  background-color: transparent; 
  cursor: pointer; 
  transition: background-color 0.3s; 
  margin: 0 10px; 
<<<<<<< HEAD
}

.user-image-list .category-item:hover {
  background-color: #f0f0f0; 
}

.user-image-list .category-item.active {
  background-color: #d0d0d0; 
=======
  margin-left: 0px;
}

.user-image-list .category-item:hover {
  background-color: #c2c2c2; 
}

.user-image-list .category-item.active {
  background-color: #ffffff; 
>>>>>>> feature
  font-weight: bold; 
}

.user-image-list .text-wrapper {
  font-size: 16px; 
}

.user-image-list .user-image-list .frame-3 {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 71px;
  justify-content: center;
  left: 200px;
  padding: 5px 20px;
  position: absolute;
  top: 0;
  width: 100px;
} 

.user-image-list .user-header {
  height: 268px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 128px;
  width: 1920px;
}

.user-image-list .user-info {
  align-items: center;
  display: inline-flex;
  left: 313px;
  position: absolute;
  top: 144px;
}

.user-image-list .name-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 17px 8px;
  position: relative;
  width: 128px;
}

.user-image-list .possession-coin {
  align-items: center;
  background-color: #dfdfdf;
  border-radius: 20px;
  display: flex;
  gap: 10px;
  height: 17px;
  justify-content: center;
  padding: 1px 6px;
  position: relative;
  width: 72px;
}

.user-image-list .user-info-box {
  color: #333232;
  font-family: 'GmarketSansLight', sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: -0.1px;
  line-height: 56px;
  margin-bottom: -19.5px;
  margin-top: -21.5px;
  position: relative;
  text-align: center;
  justify-content: center;
  white-space: nowrap;
  width: fit-content;
  padding-top: 4px;
}

.user-image-list .user-name {
  align-self: stretch;
  color: #2c2a2a;
  font-family: "Inter", Helvetica;
  font-size: 28px;
  font-weight: 700;
  height: 36px;
  letter-spacing: -0.1px;
  line-height: 56px;
  position: relative;
  white-space: nowrap;
}

.user-image-list .user-coin {
  align-self: stretch;
  color: #2c2a2a;
  font-family: "Inter", Helvetica;
  font-size: 28px;
  font-weight: 700;
  height: 36px;
  letter-spacing: -0.1px;
  line-height: 56px;
  position: relative;
  white-space: nowrap;
}

.user-image-list .entire-coin-frame {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 17px 18px;
  position: relative;
  width: 161px;
}

.user-image-list .profile-card {
  height: 275px;
  left: 38px;
  position: absolute;
  top: 0;
  width: 275px;
}

.user-image-list .ellipse {
  background-color: #ffffff;
  border-radius: 115px;
  height: 230px;
  left: 22px;
  position: absolute;
  top: 22px;
  width: 230px;
}

.user-image-list .male-user {
  height: 275px;
  left: 0;
  position: absolute;
  top: 0;
  width: 275px;
}

.user-image-list .ellipse-2 {
  background-color: #d9d9d9;
  border-radius: 25.5px/26.5px;
  height: 53px;
  left: 197px;
  position: absolute;
  top: 177px;
  width: 51px;
}

.user-image-list .camera-button {
  display: inline-block; /* 버튼처럼 inline-block 설정 */
  cursor: pointer; /* 커서를 포인터로 변경하여 클릭 가능하다는 시각적 힌트 제공 */
  border: 2px solid transparent; /* 기본적으로 경계 없음 (투명) */
  border-radius: 5px; /* 모서리 둥글게 */
  transition: border-color 0.3s; /* 호버 시 경계 색상 부드럽게 전환 */
  height: 35px;
  left: 205px;
  position: absolute;
  top: 186px;
  width: 35px;
}


.user-image-list .main {
  background-color: #87878726;
  height: 1000px;
  left: 0;
  position: absolute;
  top: 559px;
  width: 1920px;
}

.user-image-list .user-profile {
  background-color: #ffffff;
  height: 2627px;
  overflow: hidden;
  position: relative;
  top: 7px;
}

.user-image-list .calender {
  align-items: center;
  background-color: #00000066;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  height: 790px;
  left: 37px;
  overflow: hidden;
  padding-left: 34px;
  padding-right: 34px;
  position: absolute;
  top: 169px;
  width: 1800px;
}

.user-image-list .OCTOBER {
  align-self: stretch;
  color: #ffffff;
  font-family: "Alkatra", Helvetica;
  font-size: 60px;
  font-weight: 700;
  height: 80px;
  letter-spacing: -0.1px;
  line-height: 56px;
  margin-top: -1px;
  position: relative;
  text-align: center;
}

.user-image-list .day {
  align-self: stretch;
  height: 87px;
  overflow: hidden;
  position: relative;
  width: 100%;

}

.user-image-list .text-wrapper-4 {
  color: #ffffff;
  font-family: "Alkatra", Helvetica;
  font-size: 40px;
  font-weight: 400;
  height: 50px;
  left: 548px;
  letter-spacing: -0.1px;
  line-height: 56px;
  position: absolute;
  text-align: center;
  top: 4px;
  white-space: nowrap;
  width: 100px;
}

.user-image-list .text-wrapper-5 {
  color: #ffffff;
  font-family: "Alkatra", Helvetica;
  font-size: 40px;
  font-weight: 400;
  height: 50px;
  left: 293px;
  letter-spacing: -0.1px;
  line-height: 56px;
  position: absolute;
  text-align: center;
  top: 4px;
  white-space: nowrap;
  width: 100px;
}

.user-image-list .text-wrapper-6 {
  color: #ffffff;
  font-family: "Alkatra", Helvetica;
  margin-left: 50PX;
  font-size: 40px;
  font-weight: 400;
  height: 50px;
  left: 38px;
  letter-spacing: -0.1px;
  line-height: 56px;
  position: absolute;
  text-align: center;
  top: 4px;
  white-space: nowrap;
  width: 100px;
}

.user-image-list .text-wrapper-7 {
  color: #ffffff;
  font-family: "Alkatra", Helvetica;
  font-size: 40px;
  font-weight: 400;
  height: 50px;
  left: 803px;
  letter-spacing: -0.1px;
  line-height: 56px;
  position: absolute;
  text-align: center;
  top: 4px;
  white-space: nowrap;
  width: 100px;
}

.user-image-list .text-wrapper-8 {
  color: #ffffff;
  font-family: "Alkatra", Helvetica;
  font-size: 40px;
  font-weight: 400;
  height: 50px;
  left: 1058px;
  letter-spacing: -0.1px;
  line-height: 56px;
  position: absolute;
  text-align: center;
  top: 4px;
  white-space: nowrap;
  width: 100px;
}

.user-image-list .text-wrapper-9 {
  color: #ffffff;
  font-family: "Alkatra", Helvetica;
  font-size: 40px;
  font-weight: 400;
  height: 50px;
  left: 1313px;
  letter-spacing: -0.1px;
  line-height: 56px;
  position: absolute;
  text-align: center;
  top: 4px;
  white-space: nowrap;
  width: 100px;
}

.user-image-list .text-wrapper-10 {
  color: #ffffff;
  font-family: "Alkatra", Helvetica;
  font-size: 40px;
  font-weight: 400;
  height: 50px;
  left: 1568px;
  letter-spacing: -0.1px;
  line-height: 56px;
  position: absolute;
  text-align: center;
  top: 4px;
  white-space: nowrap;
  width: 100px;
}

.user-image-list .img {
  height: 2px;
  left: 0;
  position: absolute;
  top: 74px;
  width: 1800px;
}

.user-image-list .date {
  align-self: stretch;
  height: 514px;
  margin-bottom: -3px;
  position: relative;
  width: 100%;
}

.user-image-list .text-wrapper-11 {
  color: #ffffff;
  font-family: "Alkatra", Helvetica;
  font-size: 40px;
  font-weight: 400;
  height: 60px;
  left: 313px;
  letter-spacing: -0.1px;
  line-height: 56px;
  position: absolute;
  text-align: center;
  top: 20px;
  white-space: nowrap;
  width: 60px;
}

.user-image-list .text-wrapper-12 {
  color: #ffffff;
  font-family: "Alkatra", Helvetica;
  font-size: 40px;
  font-weight: 400;
  height: 60px;
  left: 567px;
  letter-spacing: -0.1px;
  line-height: 56px;
  position: absolute;
  text-align: center;
  top: 20px;
  white-space: nowrap;
  width: 60px;
}

.user-image-list .text-wrapper-13 {
  color: #ffffff;
  font-family: "Alkatra", Helvetica;
  font-size: 40px;
  font-weight: 400;
  height: 60px;
  left: 820px;
  letter-spacing: -0.1px;
  line-height: 56px;
  position: absolute;
  text-align: center;
  top: 20px;
  white-space: nowrap;
  width: 60px;
}

.user-image-list .text-wrapper-14 {
  color: #ffffff;
  font-family: "Alkatra", Helvetica;
  font-size: 40px;
  font-weight: 400;
  height: 60px;
  left: 1074px;
  letter-spacing: -0.1px;
  line-height: 56px;
  position: absolute;
  text-align: center;
  top: 20px;
  white-space: nowrap;
  width: 60px;
}

.user-image-list .text-wrapper-15 {
  color: #ffffff;
  font-family: "Alkatra", Helvetica;
  font-size: 40px;
  font-weight: 400;
  height: 60px;
  left: 1328px;
  letter-spacing: -0.1px;
  line-height: 56px;
  position: absolute;
  text-align: center;
  top: 20px;
  white-space: nowrap;
  width: 60px;
}

.user-image-list .text-wrapper-16 {
  color: #ffffff;
  font-family: "Alkatra", Helvetica;
  font-size: 40px;
  font-weight: 400;
  height: 60px;
  left: 1582px;
  letter-spacing: -0.1px;
  line-height: 56px;
  position: absolute;
  text-align: center;
  top: 20px;
  white-space: nowrap;
  width: 60px;
}

.user-image-list .text-wrapper-17 {
  color: #ffffff;
  font-family: "Alkatra", Helvetica;
  font-size: 40px;
  font-weight: 400;
  height: 60px;
  left: 1582px;
  letter-spacing: -0.1px;
  line-height: 56px;
  position: absolute;
  text-align: center;
  top: 123px;
  white-space: nowrap;
  width: 60px;
}

.user-image-list .text-wrapper-18 {
  color: #ffffff;
  font-family: "Alkatra", Helvetica;
  font-size: 40px;
  font-weight: 400;
  height: 60px;
  left: 1328px;
  letter-spacing: -0.1px;
  line-height: 56px;
  position: absolute;
  text-align: center;
  top: 123px;
  white-space: nowrap;
  width: 60px;
}

.user-image-list .text-wrapper-19 {
  color: #322eff;
  font-family: "Alkatra", Helvetica;
  font-size: 40px;
  font-weight: 400;
  height: 60px;
  left: 1074px;
  letter-spacing: -0.1px;
  line-height: 56px;
  position: absolute;
  text-align: center;
  top: 123px;
  white-space: nowrap;
  width: 60px;
}

.user-image-list .text-wrapper-20 {
  color: #ffffff;
  font-family: "Alkatra", Helvetica;
  font-size: 40px;
  font-weight: 400;
  height: 60px;
  left: 820px;
  letter-spacing: -0.1px;
  line-height: 56px;
  position: absolute;
  text-align: center;
  top: 123px;
  white-space: nowrap;
  width: 60px;
}

.user-image-list .text-wrapper-21 {
  color: #322eff;
  font-family: "Alkatra", Helvetica;
  font-size: 40px;
  font-weight: 400;
  height: 60px;
  left: 567px;
  letter-spacing: -0.1px;
  line-height: 56px;
  position: absolute;
  text-align: center;
  top: 123px;
  white-space: nowrap;
  width: 60px;
}

.user-image-list .text-wrapper-22 {
  color: #ffffff;
  font-family: "Alkatra", Helvetica;
  font-size: 40px;
  font-weight: 400;
  height: 60px;
  left: 313px;
  letter-spacing: -0.1px;
  line-height: 56px;
  position: absolute;
  text-align: center;
  top: 123px;
  white-space: nowrap;
  width: 60px;
}

.user-image-list .text-wrapper-23 {
  color: #ffffff;
  font-family: "Alkatra", Helvetica;
  font-size: 40px;
  font-weight: 400;
  height: 60px;
  left: 59px;
  letter-spacing: -0.1px;
  line-height: 56px;
  position: absolute;
  text-align: center;
  top: 123px;
  white-space: nowrap;
  width: 60px;
}

.user-image-list .text-wrapper-24 {
  color: #ffffff;
  font-family: "Alkatra", Helvetica;
  font-size: 40px;
  font-weight: 400;
  height: 60px;
  left: 59px;
  letter-spacing: -0.1px;
  line-height: 56px;
  position: absolute;
  text-align: center;
  top: 226px;
  white-space: nowrap;
  width: 60px;
}

.user-image-list .text-wrapper-25 {
  color: #ffffff;
  font-family: "Alkatra", Helvetica;
  font-size: 40px;
  font-weight: 400;
  height: 60px;
  left: 313px;
  letter-spacing: -0.1px;
  line-height: 56px;
  position: absolute;
  text-align: center;
  top: 226px;
  white-space: nowrap;
  width: 60px;
}

.user-image-list .text-wrapper-26 {
  color: #ffffff;
  font-family: "Alkatra", Helvetica;
  font-size: 40px;
  font-weight: 400;
  height: 60px;
  left: 567px;
  letter-spacing: -0.1px;
  line-height: 56px;
  position: absolute;
  text-align: center;
  top: 226px;
  white-space: nowrap;
  width: 60px;
}

.user-image-list .text-wrapper-27 {
  color: #ffffff;
  font-family: "Alkatra", Helvetica;
  font-size: 40px;
  font-weight: 400;
  height: 60px;
  left: 58px;
  letter-spacing: -0.1px;
  line-height: 56px;
  position: absolute;
  text-align: center;
  top: 329px;
  white-space: nowrap;
  width: 60px;
}

.user-image-list .text-wrapper-28 {
  color: #ffffff;
  font-family: "Alkatra", Helvetica;
  font-size: 40px;
  font-weight: 400;
  height: 60px;
  left: 312px;
  letter-spacing: -0.1px;
  line-height: 56px;
  position: absolute;
  text-align: center;
  top: 329px;
  white-space: nowrap;
  width: 60px;
}

.user-image-list .text-wrapper-29 {
  color: #ffffff;
  font-family: "Alkatra", Helvetica;
  font-size: 40px;
  font-weight: 400;
  height: 60px;
  left: 566px;
  letter-spacing: -0.1px;
  line-height: 56px;
  position: absolute;
  text-align: center;
  top: 329px;
  white-space: nowrap;
  width: 60px;
}

.user-image-list .text-wrapper-30 {
  color: #ffffff;
  font-family: "Alkatra", Helvetica;
  font-size: 40px;
  font-weight: 400;
  height: 60px;
  left: 821px;
  letter-spacing: -0.1px;
  line-height: 56px;
  position: absolute;
  text-align: center;
  top: 226px;
  white-space: nowrap;
  width: 60px;
}

.user-image-list .text-wrapper-31 {
  color: #ffffff;
  font-family: "Alkatra", Helvetica;
  font-size: 40px;
  font-weight: 400;
  height: 60px;
  left: 1074px;
  letter-spacing: -0.1px;
  line-height: 56px;
  position: absolute;
  text-align: center;
  top: 226px;
  white-space: nowrap;
  width: 60px;
}

.user-image-list .text-wrapper-32 {
  color: #ffffff;
  font-family: "Alkatra", Helvetica;
  font-size: 40px;
  font-weight: 400;
  height: 60px;
  left: 1328px;
  letter-spacing: -0.1px;
  line-height: 56px;
  position: absolute;
  text-align: center;
  top: 226px;
  white-space: nowrap;
  width: 60px;
}

.user-image-list .text-wrapper-33 {
  color: #ffffff;
  font-family: "Alkatra", Helvetica;
  font-size: 40px;
  font-weight: 400;
  height: 60px;
  left: 1582px;
  letter-spacing: -0.1px;
  line-height: 56px;
  position: absolute;
  text-align: center;
  top: 226px;
  white-space: nowrap;
  width: 60px;
}

.user-image-list .text-wrapper-34 {
  color: #ffffff;
  font-family: "Alkatra", Helvetica;
  font-size: 40px;
  font-weight: 400;
  height: 60px;
  left: 1582px;
  letter-spacing: -0.1px;
  line-height: 56px;
  position: absolute;
  text-align: center;
  top: 329px;
  white-space: nowrap;
  width: 60px;
}

.user-image-list .text-wrapper-35 {
  color: #ffffff;
  font-family: "Alkatra", Helvetica;
  font-size: 40px;
  font-weight: 400;
  height: 60px;
  left: 1328px;
  letter-spacing: -0.1px;
  line-height: 56px;
  position: absolute;
  text-align: center;
  top: 329px;
  white-space: nowrap;
  width: 60px;
}

.user-image-list .text-wrapper-36 {
  color: #ffffff;
  font-family: "Alkatra", Helvetica;
  font-size: 40px;
  font-weight: 400;
  height: 60px;
  left: 1074px;
  letter-spacing: -0.1px;
  line-height: 56px;
  position: absolute;
  text-align: center;
  top: 329px;
  white-space: nowrap;
  width: 60px;
}

.user-image-list .text-wrapper-37 {
  color: #322eff;
  font-family: "Alkatra", Helvetica;
  font-size: 40px;
  font-weight: 400;
  height: 60px;
  left: 820px;
  letter-spacing: -0.1px;
  line-height: 56px;
  position: absolute;
  text-align: center;
  top: 329px;
  white-space: nowrap;
  width: 60px;
}

.user-image-list .text-wrapper-38 {
  color: #ffffff;
  font-family: "Alkatra", Helvetica;
  font-size: 40px;
  font-weight: 400;
  height: 60px;
  left: 58px;
  letter-spacing: -0.1px;
  line-height: 56px;
  position: absolute;
  text-align: center;
  top: 432px;
  white-space: nowrap;
  width: 60px;
}

.user-image-list .text-wrapper-39 {
  color: #ffffff;
  font-family: "Alkatra", Helvetica;
  font-size: 40px;
  font-weight: 400;
  height: 60px;
  left: 313px;
  letter-spacing: -0.1px;
  line-height: 56px;
  position: absolute;
  text-align: center;
  top: 432px;
  white-space: nowrap;
  width: 60px;
}

.user-image-list .text-wrapper-40 {
  color: #ffffff;
  font-family: "Alkatra", Helvetica;
  font-size: 40px;
  font-weight: 400;
  height: 60px;
  left: 566px;
  letter-spacing: -0.1px;
  line-height: 56px;
  position: absolute;
  text-align: center;
  top: 432px;
  white-space: nowrap;
  width: 60px;
}

.user-image-list .text-wrapper-41 {
  color: #ffffff;
  font-family: "Alkatra", Helvetica;
  font-size: 40px;
  font-weight: 400;
  height: 60px;
  left: 820px;
  letter-spacing: -0.1px;
  line-height: 56px;
  position: absolute;
  text-align: center;
  top: 432px;
  white-space: nowrap;
  width: 60px;
}

.user-image-list .calender-line-top {
  height: 5px;
  left: 37px;
  position: absolute;
  top: 116px;
  width: 1846px;
}

.user-image-list .calender-line-bottom {
  height: 5px;
  left: 56px;
  position: absolute;
  top: 1021px;
  width: 1800px;
}

.user-image-list .title {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 63px;
  justify-content: center;
  left: 37px;
  padding: 25px 20px;
  position: absolute;
  top: 45px;
  width: 170px;
}

.user-image-list .posts-image1 {
  color: #000000;
  font-family: "Actor", Helvetica;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: -0.1px;
  line-height: 56px;
  margin-bottom: -20.5px;
  margin-top: -22.5px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.user-image-list .image-card {
  background-color: #d9d9d97a;
  border-radius: 20px;
  height: 1577px;
  left: 56px;
  position: absolute;
  top: 1050px;
  width: 1827px;
}

.user-image-list .image-frame {
  height: 500px;
  left: 88px;
  position: absolute;
  top: 35px;
  width: 500px;
}

.user-image-list .overlap-group-2 {
  background-color: #ffffff;
  border-radius: 10px;
  height: 450px;
  left: 25px;
  position: relative;
  top: 25px;
  width: 450px;
}

.user-image-list .text-wrapper-43 {
  color: #000000;
  font-family: "Alkatra", Helvetica;
  font-size: 40px;
  font-weight: 400;
  height: 70px;
  left: 125px;
  letter-spacing: -0.1px;
  line-height: 56px;
  position: absolute;
  text-align: center;
  top: 189px;
  width: 200px;
}

.user-image-list .overlap-wrapper {
  height: 500px;
  left: 664px;
  position: absolute;
  top: 36px;
  width: 500px;
}

.user-image-list .overlap-group-wrapper {
  height: 500px;
  left: 664px;
  position: absolute;
  top: 538px;
  width: 500px;
}

.user-image-list .image-frame-2 {
  height: 500px;
  left: 88px;
  position: absolute;
  top: 538px;
  width: 500px;
}

.user-image-list .image-frame-3 {
  height: 500px;
  left: 88px;
  position: absolute;
  top: 1041px;
  width: 500px;
}

.user-image-list .image-frame-4 {
  height: 500px;
  left: 664px;
  position: absolute;
  top: 1041px;
  width: 500px;
}

.user-image-list .image-frame-5 {
  height: 500px;
  left: 1240px;
  position: absolute;
  top: 1038px;
  width: 500px;
}

.user-image-list .image-frame-6 {
  height: 500px;
  left: 1240px;
  position: absolute;
  top: 538px;
  width: 500px;
}

.user-image-list .image-frame-7 {
  height: 500px;
  left: 1240px;
  position: absolute;
  top: 35px;
  width: 500px;
}
.navbar {
  background-color: #ffffff;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #efefef;
  height: 92px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;

  .amadda-logo {
    height: 92px;
    position: relative;
    width: 225px;
    margin-bottom: 10px;
  }

  .amadda-img {
    background-image: url(../../public/img/20240930150805570-png.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 92px;
    width: 107px;
  }
  
  .title-amadda {
    color: #682936;
    font-family: "font-light";
    font-size: 22px;
    font-weight: 800;
    height: 20px;
    left: 82px;
    letter-spacing: 0;
    line-height: 19.2px;
    position: absolute;
    top: 37px;
    white-space: nowrap;
    width: 130px;
  }
  
  .subtitle {
    color: #682936;
    font-family: "font-light";
    font-size: 13px;
    font-weight: 600;
    height: 12px;
    left: 82px;
    letter-spacing: 0;
    line-height: 19.2px;
    position: absolute;
    top: 62px;
    white-space: nowrap;
    width: 122px;
  }
  
  .navbtn {
    display: flex;
    gap: 40px;

    .btn-matzip, .btn-diary {
      display: flex;
      align-items: center;
      height: 35px;
      width: 70px;
      padding: 0;
      cursor: pointer; /* 마우스를 올렸을 때 손 모양 포인터 */

      .text-matzip, .text-diary {
        height: 100%;
        font-family: "font-light";
        display: flex;
        align-items: center;
      }
    }

    .btn-category {
      height: 35px;
      width: 150px;
      padding: 0;
      display: flex;
      align-items: center;
      cursor: pointer; /* 마우스를 올렸을 때 손 모양 포인터 */
      
      .text-category {
        font-family: "font-light";
        height: 100%;
        display: flex;
        align-items: center;
      }
        
    }
  }

  .form {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #e2e2e2;
    border-radius: 6px;
    height: 48px;
    overflow: hidden;
    width: 20%;

    .form-container {
      height: 46px;
      width: 95%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      margin: 0 10px
    }

    .form-input-container {
      height: 100%;
    }
    

    .text-form {
      width: 100%;
      height: 100%;
      border-style: none;
      font-family: "font-light";
      font-size: 100%;
      outline: none;        /* input 클릭시 생기는 border 제거 */
      line-height: 80px;        /* input 높이와 같은 값으로 설정해 수직 정렬 */
    }

    .search-img {
      cursor: pointer; /* 마우스를 올렸을 때 손 모양 포인터 */
    }
  }

  .navemoji {
    display: flex;
    gap: 10px;
    margin: 0 40px;
    margin-left: 10px;

    div {
      cursor: pointer; /* 마우스를 올렸을 때 손 모양 포인터 */
      height: 55px;
      padding: 0 10px;
      border-radius: 4px; /* 둥근 모서리 */
      transition: background-color 0.3s ease, transform 0.3s ease; /* 색상과 크기 변화를 부드럽게 */
      
      /* 마우스가 올려졌을 때 색상 변경 */
      &:hover {
        background-color: #f9c74f; /* 예쁜 노란색으로 변경 */
        transform: scale(1.05); /* 살짝 확대 */
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* 더 깊은 그림자 */
      }
    }

    .coinicon {
      padding: 0 5px;
    }
    
    .subicon {
      padding: 0;
    }

    .text-login, .text-coin, .text-sub, .text-my {
      text-align: center;
      font-size: 80%;
      font-family: "font-light";
      margin: 0;
      
    }

    .linear-arrows-action {
      margin-top: 5px;
      margin-bottom: 5px;
      height: 25px !important;
      width: 25px !important;
      padding-right: 10px;
    }
    
    .linear-map-location {
      margin-top: 5px;
      margin-bottom: 5px;
      padding: 0 10px;
      padding-bottom: 1px;
      height: 24px !important;
      width: 25px !important;
    }
    
    .linear-users-user {
      margin-top: 5px;
      margin-bottom: 1px;
      height: 30px !important;
      width: 30px !important;
    }
    
    .linear-notifications {
      margin-top: 5px;
      margin-bottom: 4px;
      padding: 0 16px;
      padding-bottom: 3px;
      height: 24px !important;
      width: 25px !important;
    }
  }

}

  

.footer-container {
  margin-top: 10px;
  border-top: 1px solid #DBDBDB;
  display: flex;
  gap: 100px;
  justify-content: center;
  padding: 20px 0;
  font-family: "font-light";
  

  .footerlist {
      display: flex;
      gap: 20px;

      > div {
          width: 100px;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
      }

      .footer-text-4letters {
          width: 62px;
      }

      .footer-text-5letters {
          width: 78px;
      }

      .footer-text-8letters {
          font-family: "font-medium";
          width: 124px;
      }

      .footer-text-9letters {
          width: 139px;
      }

      .footer-text-7letters {
          width: 96px;
      }
  }
}
