/* main 시작 */
.monthTopPick-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .month-title-container {
        width: 100% !important;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 60px !important;
        margin-bottom: 30px !important;
    }
    
    .monthTopPick-title {
        font-family: 'font-nanumSquare-bold' !important;
        margin-top: 100px;
        margin-bottom: 35px;
        text-align: left;
        font-size: 25px;
        height: 55px;
        letter-spacing: -0.48px;
        line-height: 10px;
        width: 200px;
    }

    .monthTopPick-title-toppick {
        color: rgb(233, 88, 88);
    }
    
    .recent-title-now {
        font-family: 'font-nanumSquare-bold' !important;
        font-size: 17px;
        color: dimgrey;
        width: 600px !important;
    }

    .monthTopPick-title-underbar {
        width: 300px;
        height: 2px;
        background-color: #666666;
    }

    .post-title {
        font-family: 'font-notosansKR-light' !important;
        font-weight: bold;
    }
    
    .post-description {
        font-family: 'font-notosansKR-light' !important;
        margin-top: 3px !important;
        color: gray;
    }
}

.travel-post-group {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
}

@media (max-width: 1200px) {
    .travelMatzip-container {
        justify-content: center;
        align-items: center;
        /* 자식 요소를 가운데 정렬 */
    }

    .travel-post-group {
        width: 100%;
        margin: 0 auto;
        /* 화면 너비에 따라 중앙에 배치 */
    }
}