@font-face {
    font-family: 'font-medium'; /* 사용할 폰트의 이름을 정의 */
    src: url('../../fonts/GmarketSansTTFMedium.ttf'); /* 폰트 파일의 위치 */
}

@font-face {
    font-family: 'font-light'; /* 사용할 폰트의 이름을 정의 */
    src: url('../../fonts/GmarketSansTTFLight.ttf'); /* 폰트 파일의 위치 */
}

.footer-container {
    display: flex;
    justify-content: center !important;
    align-items: center;
    font-family: "font-light";
    gap: 70px;

    .footerlist {
        display: flex;
        gap: 60px;

        > div {
            width: 100px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .footer-text-1 {
            font-family: "font-notosansKR-light";
            width: 62px;
        }

        .footer-text-2 {
            font-family: "font-notosansKR-light";
            width: 78px;
        }

        .footer-text-3 {
            font-family: "font-notosansKR-medium";
            width: 124px;
        }

        .footer-text-4 {
            font-family: "font-notosansKR-light";
            width: 139px;
        }

        .footer-text-5 {
            font-family: "font-notosansKR-light";
            width: 150px;
        }
    }
}

