/* 공통 스타일 */
.container {
  margin-bottom: 50px;
}

.divider {
  margin: 20px 0;
}

.input-label {
  font-family: "font-notosansKR-light" !important;
  margin-top: 16px;
}

/* 메인 컨테이너 */
.user-info-main {
  background-color: #f8f8f8;
  padding: 32px;
  border-radius: 8px;
  margin-bottom: 30px;
  align-items: center;
}

/* 제목 스타일 */
.user-info-title {
  text-align: center;
  font-size: 1.5rem;
}

/* 프로필 영역 */
.user-profile-container {
  text-align: center;
  margin-top: 15px;
}

.user-profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
}

/* 버튼 스타일 */
.button-container {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 40px;
}

.cancel-button {
  font-family: "font-notosansKR-medium" !important;
  width: 500px;
  height: 50px;
  border-color: black !important;
  color: black !important;
  border-radius: 30px !important;
}

.cancel-button:hover {
  border-color: black;
  background-color: #f0f0f0;
}

.save-button {
  font-family: "font-notosansKR-medium" !important;
  width: 500px;
  height: 50px;
  background-color: #002053 !important;
  color: white;
  border-radius: 30px !important;
}

.save-button:hover {
  background-color: #00143d;
}

/* 소개 글 */
.introduce-divider {
  margin-top: 8px !important;
}

/* 필수 정보 */
.required-info-divider {
  margin-top: 8px !important;
}

/* 추가 정보 */
.additional-info-divider {
  margin-top: 8px !important;
}