@font-face {
    font-family: 'gowunbatang'; /* 사용할 폰트의 이름을 정의 */
    src: url('../../public/fonts/GowunBatang-Regular.ttf'); /* 폰트 파일의 위치 */
  }

.diary {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .diary .overlap-group-wrapper {
    background-image: url('../../public/img/diary-3.png');
    background-position: 50% 50%;
    background-size: cover;
    height: 1788px;
    width: 1379px;
  }
  
  .diary .overlap-group {
    height: 1776px;
    position: relative;
  }

  .diary .top {
    background-image: url('../../public/img/top.png');
    background-position: 50% 50%;
    background-size: cover;
    height: 673px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 1379px;
  }

  .diary .image {
    background-image: url('../../public/img/image-2.png');
    background-position: 50% 50%;
    background-size: cover;
    height: 506px;
    left: 491px;
    position: absolute;
    top: -8px;
    transform: rotate(1.68deg);
    width: 460px;
  }
  
  .diary .div {
    background-image: url('../../public/img/image-2.png');
    background-position: 50% 50%;
    background-size: cover;
    height: 516px;
    left: 1000px;
    position: absolute;
    top: -16px;
    transform: rotate(-3.64deg);
    width: 460px;
  }
  
  .diary .image-2 {
    background-image: url('../../public/img/image-2.png');
    background-position: 50% 50%;
    background-size: cover;
    height: 516px;
    left: -8px;
    position: absolute;
    top: 0;
    width: 415px;
  }
  
  .diary .bottom {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 31px;
    height: 1115px;
    left: 0;
    padding: 43px 54px;
    position: absolute;
    top: 661px;
    width: 1379px;
  }
  
  .diary .title-and-text {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 31px;
    position: relative;
    width: 100%;
  }
  
  .diary .title {
    align-items: center;
    display: flex;
    gap: 10px;
    height: 413px;
    justify-content: center;
    padding: 10px;
    position: relative;
    width: 1252px;
  }
  
  .diary .text-wrapper {
    color: #302518;
    flex: 1;
    font-family: 'gowunbatang';
    font-size: 96px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
  }
  
  .diary .the-body {
    align-items: center;
    align-self: stretch;
    display: flex;
    gap: 10px;
    height: 496px;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  
  .diary .p {
    color: #302518;
    font-family: 'gowunbatang';
    font-size: 48px;
    font-weight: 400;
    left: -60px;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: 1262px;
  }
  