
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    height: 600px;
    width: 1000px;
    border-radius: 10px;
    overflow: hidden; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    }
    
    .modal .container {
      height: 600px;
      position: relative;
    }
  
    .close-modal {
      position: absolute; /* 절대 위치로 설정 */
      top: 10px; /* 원하는 상단 위치 조정 */
      right: 10px; /* 오른쪽 위치 조정 */
      z-index: 10; /* 다른 요소 위에 표시 */
    }

    .modal .post-image {
        background-color: #f5f5f5;
        border-radius: 4px;
        height: 500px;
        left: 30px;
        overflow: hidden;
        position: absolute;
        top: 50px;
        width: 400px;
      }
      
 
      