.posthavebadge-container {
    margin: 20px 0px;
    margin-bottom: 30px;
    position: relative;


    .diary-post-img {
        width: 100%;
        height: 100%;
        border-radius: 40px;
        object-fit: cover;
        transition: filter 0.3s ease; /* 호버 시 부드럽게 전환되도록 추가 */
    
    }

    .img-container p {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white; /* 텍스트를 흰색으로 설정 */
        font-size: 18px;
        opacity: 0; /* 초기 상태에서 텍스트는 보이지 않도록 설정 */
        transition: opacity 0.3s ease; /* 호버 시 부드럽게 나타나도록 전환 */
    }

    .img-container:hover .post-img {
        filter: brightness(0.5); /* 이미지 어둡게 */
        cursor: pointer;
    }
    
    .img-container:hover p {
        opacity: 1; /* 호버 시 텍스트가 나타나도록 설정 */
        cursor: pointer;
    }

    .post-info {
        display: flex;
        flex-direction: column;
        align-items: start;
        font-family: "font-light";
        gap: 10px;
    
        .text-name {
            font-family: 'font-notosansKR-medium' !important;
            margin-top: 10px;
            margin-bottom: -10px;
        }
    
        .text-post-title {
            font-family: 'font-notosansKR-medium' !important;
        }

        .hashtag {
            font-family: 'font-notosansKR-medium' !important;
            padding-bottom: 5px;
        }
    
        .diary-badge {
            display: flex;
            gap: 5px;
        }

        .receipt-mark {
            font-family: 'font-notosansKR-medium' !important;
            color: #00B058;
            font-family: "font-light";
            height: 20px;
            width: 100%;
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        .check-icon {
            color: rgb(55, 48, 78);
            background-color: #08f77f;
            padding: 2px 2px;
            margin-left: 10px;
            border-radius: 10px;
            width: 20px !important;
            height: 20px !important;
        }
    
    }
}

.img-container {
    position: relative;
    width: 100%;
    height: 350px;
    display: flex;

    .pin-color {
        font-family: 'font-notosansKR-medium' !important;
        position: absolute;
        background-color: rgb(255, 0, 0) !important;
        color: white;
        width: 30%;
        padding: 5px 10px;
        top: 40px;
        font-size: 100%;
    }

    >p {
        font-family: 'font-notosansKR-medium' !important;
    }
}

@media (max-width: 750px) {

    .img-container {
        height: 250px;
    }
}



