/* MapModal 전체 크기 */
.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 600px;
  background-color: #ffffff;
  box-shadow: 24px;
  border-radius: 8px;
  padding: 16px;

  .close-button {
    position: absolute;
    top: 18px !important;
    right: 18px !important;
    width: 16px;
    height: 16px;
    background-color: rgba(255, 0, 0, 0.562);
    border-radius: 50%;
    cursor: pointer;
  }

  .close-button:hover {
    background-color: rgba(255, 0, 0, 0.8);
  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    height: 30px;
    margin-bottom: 30px;
  }

  .modal-title {
    font-family: 'font-notosansKR-medium' !important;
    font-size: 20px !important;
    color: black;
    text-align: center;
    display: block;
    margin-top: 15px !important;
  }

  /* MapModal 검색 박스 */
  .search-box {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 4px 8px;
  }

  /* MapModal 검색창 */
  .search-input {
    flex: 1;
  }

  /* MapModal 맵 제공 컨테이너 */
  .map-container {
    height: 470px;
    border-radius: 4px;
    overflow: hidden;
  }

  /* MapModal 맵 이미지 */
  .map-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .OK-button-container {
    width: 100%;
    margin-top: 1px;
  }

  .OK-button {
    width: 100%;
    height: 50px;
    border-radius: 0px 0px 4px 4px !important;
    font-family: 'Gmarket Sans TTF-Medium';
    background-color: orange;
  }
}