@font-face {
    font-family: 'font-medium'; /* 사용할 폰트의 이름을 정의 */
    src: url('../../../fonts/GmarketSansTTFMedium.ttf'); /* 폰트 파일의 위치 */
}

@font-face {
    font-family: 'font-light'; /* 사용할 폰트의 이름을 정의 */
    src: url('../../../fonts/GmarketSansTTFLight.ttf'); /* 폰트 파일의 위치 */
}


.image-list-main {
    background-color: #ffffff;
    border-top: 15px solid rgba(135, 135, 135, 0.26);
    width: 100%;
    overflow: hidden;
    
    
    .calender-top-line {
        background-color: #00000066;
        height: 1px;
        width: 90%;
        max-width: 1920px;
        margin: 150px auto 0;
    }
    
    .calender {
        align-items: center;
        background-color: #00000066;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        gap: 22px;
        height: 790px;
        width: 93.75%;
        margin: 50px auto 0;
    }
    .calender-bottom-line {
        background-color: #00000066;
        height: 1px;
        width: 90%;
        max-width: 1920px;
        margin: 40px auto 0;
    }

    .image-card {
        background-color: #d9d9d97a;
        border-radius: 20px;
        width: 93.75%;
        margin: 20px auto;  
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 10px;
    }
    
    .calender-image {
        background-color: #ffffff;
        height: 450px;
        width: calc(31% - 20px);
        margin: 25px;
        flex: 1 0 calc(30% - 30px);
        box-sizing: border-box;
        min-width: 300px;
    }

}



    
  
  
  

  
  
  
  
  
  
  
  
  
  
  
